@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
npx tailwindcss watch src/css/main.css -o dist/main.css 
*/

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('../assets/Comfortaa-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .font-comfortaa {
    font-family: 'Comfortaa-Light', sans-serif;
  }

  /*
.parent{
  position: relative;
}
.child{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  */